.App {
  text-align: center;
  min-height:100vh;



}


.active{
  background-color: red;
  color: white;
  

}

.dark{
background-color: darkslategray;
color:white;
min-height:100vh;

}
.light{
background-color: aqua;
color: black;
min-height:100vh;

}
.h1{
  margin:0;
}